//colors
$background: #000000;

$header: linear-gradient(270deg, #E7E1E157 0%, #8902023B 100%);
$header-button: linear-gradient(90deg, #D91E10 0%, #FFCA72 100%);

$main-button: linear-gradient(180.21deg, rgba(226, 182, 26, 0.15) 0.18%, rgba(228, 71, 71, 0.15) 72.88%);

$blocks-header: linear-gradient(270deg, #FFCD74 0%, #D81B0E 100%);

$bullet: linear-gradient(261.06deg, #DF0609 2.64%, rgba(72, 56, 135, 0.02) 56.79%);
$bullet-paragraph: linear-gradient(270deg, #EF0404 0%, rgba(137, 2, 2, 0) 59.03%);

$partner-box-top: linear-gradient(270deg, #D00303 0%, rgba(255, 214, 68, 0) 100%);
$partner-box-bottom: linear-gradient(270deg, rgba(255, 214, 68, 0) 0%, rgba(208, 3, 3, 0.7) 100%);

$call-to-action: linear-gradient(270deg, #FFCD74 0%, #D81B0E 100%);

$submit-form: linear-gradient(180deg, rgba(255, 0, 0, 0.36) 0%, rgba(154, 150, 61, 0.36) 100%);
$submit-button: linear-gradient(270deg, #FFCD74 0%, #D81B0E 100%);

$font-color: #ffffff;
$submit-form-policy-font-color: #737373;


//fonts
$font-family: 'Montserrat';

$header-logo-font-weight: 700;
$header-logo-font-size: 14px;
$header-logo-font-line-height: 14px;
$header-font-weight: 700;
$header-font-size: 12px;
$header-font-line-height: 14.63px;
$header-button-font-weight: 800;
$header-button-font-size: 12px;
$header-button-font-line-height: 14.63px;

$main-button-font-weight: 600;
$main-button-font-size: 12px;
$main-button-font-line-height: 14.63px;

$blocks-header-font-weight: 700;
$blocks-header-font-size: 36px;
$blocks-header-font-line-height: 43.88px;

$bullet-font-weight: 600;
$bullet-font-size: 35px;
$bullet-font-line-height: 32px;
$bullet-paragraph-font-weight: 700;
$bullet-paragraph-font-size: 16px;
$bullet-paragraph-font-line-height: 19.5px;

$submit-header-font-weight: 700;
$submit-header-font-size: 35px;
$submit-header-font-line-height: 36px;
$submit-paragraph-font-weight: 500;
$submit-paragraph-font-size: 16px;
$submit-paragraph-font-line-height: 19.36px;
$submit-form-input-font-weight: 500;
$submit-form-input-font-size: 12px;
$submit-form-input-font-line-height: 14.63px;
$submit-form-button-font-weight: 700;
$submit-form-button-font-size: 16px;
$submit-form-button-font-line-height: 19.5px;
$submit-form-policy-font-weight: 400;
$submit-form-policy-font-size: 12px;
$submit-form-policy-font-line-height: 14.63px;
$submit-form-policy-link-font-weight: 400;
$submit-form-policy-link-font-size: 12px;
$submit-form-policy-link-font-line-height: 14.63px;

$footer-logo-font-weight: 600;
$footer-logo-font-size: 19px;
$footer-logo-font-line-height: 23.16px;
$footer-links-font-weight: 600;
$footer-links-font-size: 12px;
$footer-links-font-line-height: 14.63px;
$footer-font-weight: 500;
$footer-font-size: 12px;
$footer-font-line-height: 14.64px;


//sizes
$size-2: 2px;
$size-3: 3px;
$size-5: 5px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-15: 15px;
$size-30: 30px;
$size-35: 35px;
$size-60: 60px;
$size-80: 80px;
$size-100: 100px;
$size-120: 120px;
$size-160: 160px;
$size-196: 196px;
$size-200: 200px;
$size-205: 205px;
$size-320: 320px;
$size-1120: 1120px;
$size-1200: 1200px;


//degrees
$degree-45: 45deg;