//colors
$header: linear-gradient(#E7E1E157, #8902023B);
$header-button: linear-gradient(#D91E10, #FFCA72);

$main-button: linear-gradient(#E2B61A26, #E4474726);

$blocks-header: linear-gradient(#FFCD74, #D81B0E);

$bullet: linear-gradient(#DF0609, #48388705);
$bullet-paragraph: linear-gradient(#EF0404, #89020200);

$partner-box: linear-gradient(#D00303, #FFD64400);

$submit-form: linear-gradient(#FF00005C, #9A963D5C);
$submit-button: linear-gradient(#FFCD74, #D81B0E);

$font-color: #ffffff;
$submit-form-policy-font-color: #737373;


//fonts
$font-family: 'Montserrat';


$header-logo-font-weight: 700;
$header-logo-font-size: 14px;
$header-logo-font-line-height: 14px;
$header-font-weight: 700;
$header-font-size: 12px;
$header-font-line-height: 14.63px;
$header-button-font-weight: 800;
$header-button-font-size: 12px;
$header-button-font-line-height: 14.63px;

$main-button-font-weight: 600;
$main-button-font-size: 12px;
$main-button-font-line-height: 14.63px;

$blocks-header-font-weight: 700;
$blocks-header-font-size: 36px;
$blocks-header-font-line-height: 43.88px;

$bullet-font-weight: 600;
$bullet-font-size: 35px;
$bullet-font-line-height: 32px;
$bullet-paragraph-font-weight: 700;
$bullet-paragraph-font-size: 16px;
$bullet-paragraph-font-line-height: 19.5px;

$submit-header-font-weight: 700;
$submit-header-font-size: 35px;
$submit-header-font-line-height: 36px;
$submit-paragraph-font-weight: 500;
$submit-paragraph-font-size: 16px;
$submit-paragraph-font-line-height: 19.36px;
$submit-form-input-font-weight: 500;
$submit-form-input-font-size: 12px;
$submit-form-input-font-line-height: 14.63px;
$submit-form-button-font-weight: 700;
$submit-form-button-font-size: 16px;
$submit-form-button-font-line-height: 19.5px;
$submit-form-policy-font-weight: 400;
$submit-form-policy-font-size: 12px;
$submit-form-policy-font-line-height: 14.63px;
$submit-form-policy-link-font-weight: 400;
$submit-form-policy-link-font-size: 12px;
$submit-form-policy-link-font-line-height: 14.63px;

$footer-logo-font-weight: 600;
$footer-logo-font-size: 19px;
$footer-logo-font-line-height: 23.16px;
$footer-links-font-weight: 600;
$footer-links-font-size: 12px;
$footer-links-font-line-height: 14.63px;
$footer-font-weight: 500;
$footer-font-size: 12px;
$footer-font-line-height: 14.64px;