<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/styles.css">

    <title>Venum Cartel</title>
</head>
<body class="container">
    <!-- header block-->
     <section class="header">
        <div class="wrapper">
            <header>
                <a href="" class="header__logo">
                    <img src="../images/header_logo.svg" alt="logo">
                    <p>Venum Cartel</p>
                </a>
                
                <nav>
                    <ul>
                        <li><a href="#">Why Venum Cartel</a></li>
                        <li><a href="#">Our Global Partners</a></li>
                        <li><a href="#">Place an Order</a></li>
                    </ul>
                </nav>

                <div class="header__button">
                    <button>Get Started</button>
                </div>

            </header>
        </div>
     </section>
</body>
</html>