<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/main.css">

    <title>Venum Cartel</title>
</head>
<body class="container">
    <div class="wrapper">
        <!-- header block-->
        <header class="header">
            <a href="#" class="header__logo">
                <img src="../images/header_logo.svg" alt="logo">
                <div class="header__logo-texts">
                    <p class="header__logo-text">Venum</p>
                    <p class="header__logo-text">Cartel</p>
                </div>
            </a>
            
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="#">Why Venum Cartel</a></li>
                    <li class="header__nav-item"><a href="#">Our Global Partners</a></li>
                    <li class="header__nav-item"><a href="#">Place an Order</a></li>
                </ul>
            </nav>

            <div class="header__button-wrapper">
                <button class="header__button">Get Started</button>
            </div>
        </header>

        <!-- main block-->
        <div class="main">
            <button class="main__button">
                <span class="main__button-text">Learn more</span>
                <span class="main__button-text">about the best snake venom</span>
                <span class="main__button-text">supplier in the world</span>
                <span class="main__button-arrow"></span>
            </button>
        </div>

        <img src="../images/main.svg" alt="">
    </div>
</body>
</html>